<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">You run into an error</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Song" asp-action="Index">Home Page</a>
    </div>
</div>
